<form action="/login" method="post">
    Email: <input type="email" name="email" id="">
    Password: <input type="password" name="password" id="">
    <button type="submit">Login</button>
    <a href="/register">Register</a>
</form>